# 哲风壁纸文件夹
哲风壁纸/wallpapers/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.claude
.qwen

# Node
node_modules/
package-lock.json

# 特定前端项目的 node_modules
哲风壁纸/道格壁纸/frontend/node_modules/


# 其他缓存
.ruff_cache/
.qwen/
.claude/

# 数据文件
*.xlsx
*.csv
data*
result*
nul
